.detailsContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    padding: 30px 100px;
    place-items: center;
}

.detailsContainer > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* max-width: 500px; */
    padding: 15px;
    gap: 10px;
    background-color: #111827;
    color: #fff;
    border-radius: 10px;
    transition: all 0.2s ease;
}

.detailsContainer > div:hover {
    box-shadow: 0 4px 16px rgb(0, 0, 0, 0.8);
    transform: translateY(-10px);
}

.detailsContainer > .location > img {
    width: 100%;
    /* height: 20rem; */
    border-radius: 5px;
    object-fit: cover;
    object-position: center;
}

.detailsContainer > .serve > img {
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
    object-position: center;
}

@media (max-width: 900px) {
    .detailsContainer {
        padding: 30px 35px;
    }
}

@media (max-width: 600px) {
    .detailsContainer {
        padding: 30px 10px;
    }
    .detailsContainer > div > h1 {
        width: 100%;
        text-align: center;
    }
}