.detailsContainer {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 2rem; 
    place-content: center;
}

.detailsContainer > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 25px;
    gap: 10px;
    background-color: #111827;
    color: #fff;
    box-shadow: 0 4px 16px rgb(0, 0, 0, 0.8);
    border-radius: 10px;
}

.detailsContainer > .location > img {
    width: 100%;
    height: 20rem;
    border-radius: 5px;
    object-fit: cover;
    object-position: center;
}

.detailsContainer > .serve > img {
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
    object-position: center;
}