
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 700px;
    height: 500px;
    display: flex;
    margin-top: 3rem;
    border-radius: 15px;
    overflow: hidden;
    background-color: #111827;
    color: #fff;
    box-shadow: 0 4px 16px rgb(0, 0, 0, 0.8);
}

.container > .imgContainer {
    width: 50%;
    height: 100%;
    background-image: url(../src/images/home-food.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container > .rightContainer {
    width: 50%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.container > .rightContainer > p {
    font-family: 'Edu TAS Beginner', sans-serif;
}

.container > .rightContainer > button {
    padding: 5px 15px;
    border-radius: 8px;
    font-weight: 800;
}