
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 1px solid black;
    width: 700px;
    height: 500px;
    display: flex;
    margin-top: 3rem;
}

.container > .imgContainer {
    border: 1px solid red;
    width: 50%;
    height: 100%;
}

.container > .rightContainer {
    border: 1px solid red;
    width: 50%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.container > .rightContainer > p {
    font-family: 'Edu TAS Beginner', sans-serif;
}

.container > .rightContainer > button {
    padding: 5px 15px;
    border-radius: 8px;
    font-weight: 800;
}