.staffContainer {
    width: clamp(500px, 60%, 70%);
    /* height: 50%; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 20px 0;
    gap: 20px;
    padding-bottom: 10rem;
}

.staffHeader {
    font-size: 3rem;
    font-weight: 1000;
}

.staffContainer > .workerContainer {
    padding: 15px;
    background-color: #111827;
    border-radius: 10px;
    box-shadow: 0 4px 16px rgb(0, 0, 0, 0.8);
    color: #fff;
    transition: all 0.2s ease;
}

.staffContainer > .workerContainer:hover {
    transform: scale(1.008);
}

.staffContainer > .workerContainer > img {
    width: 100%;
    height: 280px;
}