@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Noto+Sans:wght@200&family=Nunito+Sans:opsz,wght@6..12,200&family=Roboto:wght@100&family=Signika+Negative:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

nav {
    display: flex;
    /* background-color: aquamarine; */
    justify-content: space-between;
    min-height: 5rem;
    padding: 0 25px;
    flex-wrap: wrap;
    background-color: #020617;
    color: #fff;
}

nav > .right {
    flex: 1;
    display: flex;
    gap: 15px;
}

nav > .right > .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* nav > .right > .logo > h1 {
    font-family: "Edu TAS Beginner";
    color: aqua;
}
nav > .right > .logo > h1 > span {
    font-family: "Edu TAS Beginner";
    color: #fff;
} */


nav  > .right > ul {
    flex-shrink: 1;
    flex-basis: 250px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 0.9rem;
}

nav > .right > ul > li {
    cursor: pointer;
    /* font-weight: 800; */
    list-style: none;
    margin: auto;
    width: 3rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

nav > .right > ul > .active {
    color: aqua;
}

nav > .buttonContainer {   
    flex: 1; 
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}

nav > .buttonContainer > button {
    cursor: pointer;
    /* font-weight: 800; */
    padding: 5px 15px;
    border-radius: 10px;
    font-size: 0.70rem;
    border: 1.5px solid aqua;
    background-color: #020617;
    color: #fff;
    box-shadow: 0 4px 12px rgb(white, white, white, 0.8);
    transition: all 0.2s ease;
}

nav > .buttonContainer > button:hover {
    background-color: aqua;
    color: black;
}

nav > .buttonContainer > button:active {
    opacity: 0.8;
}

.content {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* padding: 1rem; */
    background-color: #111827;
    min-height: calc(100vh - 5rem);
    /* padding-bottom: 10rem; */
}

footer {
    background-color: #020617;
    color: #8d8d8d;
    text-align: center;
    padding: 5px;
}

@media (max-width: 676px) {
    nav {
        padding: 20px;
    }
    nav > .right {
        flex-direction: column;
        height: 5rem;
    }
    nav > .buttonContainer > button {
        display: none;
    }
    nav  > .right > ul {
        width: 100%;
    }
    nav > .buttonContainer {
        flex: 0;
    }
}