@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Noto+Sans:wght@200&family=Nunito+Sans:opsz,wght@6..12,200&family=Roboto:wght@100&family=Signika+Negative:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

nav {
    display: flex;
    /* background-color: aquamarine; */
    justify-content: space-between;
    height: 5rem;
    padding: 0 15px;
    flex-wrap: wrap;
    background-color: #020617;
    color: #fff;
}

nav > .right {
    flex: 1;
    display: flex;
    gap: 15px;
}

nav > .right > .logo {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;
}

nav > .right > .logo > img {
    width: 2rem;
    height: 2rem;
}

nav  > .right > ul {
    flex-shrink: 1;
    flex-basis: 360px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 0.8rem;
}

nav > .right > ul > li {
    cursor: pointer;
    border: 1px solid black;
    font-weight: 800;
    list-style: none;
    margin: auto;
    width: 4rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

nav > .right > ul > .active {
    background-color: red;
}

nav > .buttonContainer {   
    flex: 1; 
    border: 1px solid black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}

nav > .buttonContainer > button {
    cursor: pointer;
    font-weight: 800;
    padding: 5px 10px;
    border-radius: 10px;
}

.content {
    border: 1px solid black;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    height: 100vh;
}

